[submodule ".zsh_custom/themes/powerlevel10k"]
	path = .zsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh_custom/plugins/zsh-syntax-highlighting"]
	path = .zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
